body{
    position: relative;
}

.visualizer-container {
    position: absolute;
    bottom: 450px;
    right: 0;
    left: 0;
    text-align: center;
}

.visualizer-container__bar {
    display: inline-block;
    background: blue;
    margin: 0 2px;
    width: 25px;
    text-align: center;
}

#animation-bg,
#animation-zone-1,
#animation-zone-2,
#animation-zone-3,
#animation-zone-4,
#animation-zone-5,
#animation-zone-6,
#animation-zone-7,
#animation-zone-8,
#animation-zone-9,
#animation-zone-10  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin-top: 15rem;
}
